<!DOCTYPE html>
<html>
	<head>
		<title>MediCenter - Medical Health Template</title>
		<!--meta-->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
		<meta name="format-detection" content="telephone=no" />
		<meta name="keywords" content="Medic, Medical Center" />
		<meta name="description" content="Responsive Medical Health Template" />
		<!--style-->
		<link href='http://fonts.googleapis.com/css?family=PT+Sans' rel='stylesheet' type='text/css'>
		<link href='http://fonts.googleapis.com/css?family=Volkhov:400italic' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" type="text/css" href="style/reset.css" />
		<link rel="stylesheet" type="text/css" href="style/superfish.css" />
		<link rel="stylesheet" type="text/css" href="style/fancybox/jquery.fancybox.css" />
		<link rel="stylesheet" type="text/css" href="style/jquery.qtip.css" />
		<link rel="stylesheet" type="text/css" href="style/jquery-ui-1.9.2.custom.css" />
		<link rel="stylesheet" type="text/css" href="style/style.css" />
		<link rel="stylesheet" type="text/css" href="style/responsive.css" />
		<link rel="shortcut icon" href="images/favicon.ico" />
		<!--js-->
		<script type="text/javascript" src="js/jquery-1.8.3.min.js"></script>
		<script type="text/javascript" src="js/jquery.ba-bbq.min.js"></script>
		<script type="text/javascript" src="js/jquery-ui-1.9.2.custom.min.js"></script>
		<script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
		<script type="text/javascript" src="js/jquery.carouFredSel-5.6.4-packed.js"></script>
		<script type="text/javascript" src="js/jquery.sliderControl.js"></script>
		<script type="text/javascript" src="js/jquery.linkify.js"></script>
		<script type="text/javascript" src="js/jquery.timeago.js"></script>
		<script type="text/javascript" src="js/jquery.hint.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.min.js"></script>
		<script type="text/javascript" src="js/jquery.isotope.masonry.js"></script>
		<script type="text/javascript" src="js/jquery.fancybox-1.3.4.pack.js"></script>
		<script type="text/javascript" src="js/jquery.qtip.min.js"></script>
		<script type="text/javascript" src="js/jquery.blockUI.js"></script>
		<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
		<script type="text/javascript" src="js/main.js"></script>
	</head>
	<body>
		<div class="site_container">
			<div class="header_container">
				<div class="header clearfix">
					<div class="header_left">
						<a href="home.html" title="GYMBASE">
							<img src="images/header_logo.png" alt="logo" />
							<span class="logo">medicenter</span>
						</a>
					</div>
					<ul class="sf-menu header_right">
						<li class="submenu">
							<a href="#" title="HOME">
								HOME
							</a>
							<ul>
								<li>
									<a href="home.html" title="Home Style 1">
										Home Style 1
									</a>
								</li>
								<li>
									<a href="home_2.html" title="Home Style 2">
										Home Style 2
									</a>
								</li>
								<li>
									<a href="home_3.html" title="Home Style 3">
										Home Style 3
									</a>
								</li>
								<li>
									<a href="home_4.html" title="Home Style 3">
										Home Style 4
									</a>
								</li>
								<li>
									<a href="home_5.html" title="Home Style 5">
										Home Style 5
									</a>
								</li>
								<li>
									<a href="home_small_slider.html" title="Home Small Slider">
										Home Small Slider
									</a>
								</li>
							</ul>
						</li>
						<li class="submenu selected">
							<a href="#" title="Blog">
								BLOG
							</a>
							<ul>
								<li>
									<a href="blog.html" title="Blog with sidebar">
										Blog with sidebar
									</a>
								</li>
								<li class="selected">
									<a href="#" title="Blog 2 columns">
										Blog 2 columns
									</a>
									<ul>
										<li class="selected">
											<a href="blog_2_columns.html" title="Right Sidebar">
												Right sidebar
											</a>
										</li>
										<li>
											<a href="blog_2_columns_left_sidebar.html" title="Left Sidebar">
												Left sidebar
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="post.html" title="SINGLE POST">
										Single post
									</a>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#" title="PAGES">
								PAGES
							</a>
							<ul>
								<li>
									<a href="about.html" title="About">
										About
									</a>
								</li>
								<li>
									<a href="doctors.html" title="Our Doctors">
										Our Doctors
									</a>
								</li>
								<li>
									<a href="medical_care.html" title="Medical Care">
										Medical Care
									</a>
								</li>
								<li>
									<a href="#" title="Shortcodes">
										Shortcodes
									</a>
									<ul class="wide">
										<li>
											<a href="shortcodes.html#features-style" title="Features Styles">
												Features Styles
											</a>
										</li>
										<li>
											<a href="shortcodes.html#carousel" title="Carousel">
												Carousel
											</a>
										</li>
										<li>
											<a href="shortcodes.html#testimonials-announcement" title="Testimonials &amp; Announcement">
												Testimonials &amp; Announcement
											</a>
										</li>
										<li>
											<a href="shortcodes.html#accordiontab-notifications" title="Accordion &amp; Notifications">
												Accordion &amp; Notifications
											</a>
										</li>
										<li>
											<a href="shortcodes.html#tabs-quote" title="Tabs &amp; Quote">
												Tabs &amp; Quote
											</a>
										</li>
										<li>
											<a href="shortcodes.html#lists" title="Lists">
												Lists
											</a>
										</li>
										<li>
											<a href="shortcodes.html#icons" title="Icons">
												Icons
											</a>
										</li>
										<li>
											<a href="shortcodes.html#buttons-headings" title="Buttons &amp; Headings">
												Buttons &amp; Headings
											</a>
										</li>
										<li>
											<a href="shortcodes.html#columns" title="Columns &amp; Code">
												Columns &amp; Code
											</a>
										</li>
									</ul>
								</li>
								<li>
									<a href="404.html" title="404 Not Found">
										404 Not Found
									</a>
								</li>
							</ul>
						</li>
						<li class="submenu wide">
							<a href="#" title="DEPARTMENTS">
								DEPARTMENTS
							</a>
							<ul>
								<li>
									<a href="departments.html#primary-health-care" title="Primary Health Care">
										Primary Health Care
									</a>
								</li>
								<li>
									<a href="departments.html#laryngological-clinic" title="Laryngological Clinic">
										Laryngological Clinic
									</a>
								</li>
								<li>
									<a href="departments.html#pediatric-clinic" title="Pediatric Clinic">
										Pediatric Clinic
									</a>
								</li>
								<li>
									<a href="departments.html#ophthalmology-clinic" title="Ophthalmology Clinic">
										Ophthalmology Clinic
									</a>
								</li>
								<li>
									<a href="departments.html#outpatient-surgery" title="Outpatient Surgery">
										Outpatient Surgery
									</a>
								</li>
								<li>
									<a href="departments.html#dental-clinic" title="Dental Clinic">
										Dental Clinic
									</a>
								</li>
								<li>
									<a href="departments.html#gynaecological-clinic" title="Gynaecological Clinic">
										Gynaecological Clinic
									</a>
								</li>
								<li>
									<a href="departments.html#outpatient-rehabilitation" title="Outpatient Rehabilitation">
										Outpatient Rehabilitation
									</a>
								</li>
								<li>
									<a href="departments.html#cardiac-clinic" title="Cardiac Clinic">
										Cardiac Clinic
									</a>
								</li>
							</ul>
						</li>
						<li class="submenu wide">
							<a href="#" title="Timetable">
								TIMETABLE
							</a>
							<ul class="timetable_submenu">
								<li>
									<a href="timetable.html#all-departments" title="All Departments">
										All Departments
									</a>
								</li>
								<li>
									<a href="timetable.html#cardiac-clinic" title="Cardiac Clinic">
										Cardiac Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#primary-health-care" title="Primary Health Care">
										Primary Health Care
									</a>
								</li>
								<li>
									<a href="timetable.html#laryngological-clinic" title="Laryngological Clinic">
										Laryngological Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#pediatric-clinic" title="Pediatric Clinic">
										Pediatric Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#ophthalmology-clinic" title="Ophthalmology Clinic">
										Ophthalmology Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#outpatient-surgery" title="Outpatient Surgery">
										Outpatient Surgery
									</a>
								</li>
								<li>
									<a href="timetable.html#dental-clinic" title="Dental Clinic">
										Dental Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#gynaecological-clinic" title="Gynaecological Clinic">
										Gynaecological Clinic
									</a>
								</li>
								<li>
									<a href="timetable.html#outpatient-rehabilitation" title="Outpatient Rehabilitation">
										Outpatient Rehabilitation
									</a>
								</li>
							</ul>
						</li>
						<li class="submenu">
							<a href="#" title="Gallery">
								GALLERY
							</a>
							<ul style="margin-left: -100px;">
								<li>
									<a href="gallery_2_columns.html" title="2 Columns">
										2 Columns
									</a>
								</li>
								<li>
									<a href="gallery_3_columns.html" title="3 Columns">
										3 Columns
									</a>
								</li>
								<li>
									<a href="gallery_4_columns.html" title="4 Columns">
										4 Columns
									</a>
								</li>
								<li>
									<a href="gallery_with_sidebar.html" title="With Sidebar">
										With Sidebar
									</a>
								</li>
							</ul>
						</li>
						<li>
							<a href="contact.html" title="CONTACT">
								CONTACT
							</a>
						</li>
					</ul>
					<div class="mobile_menu">
						<select>
							<option value="-">-</option>
							<option value="home.html">HOME</option>
							<option value="home.html">- Home Style 1</option>
							<option value="home_2.html">- Home Style 2</option>
							<option value="home_3.html">- Home Style 3</option>
							<option value="home_4.html">- Home Style 4</option>
							<option value="home_5.html">- Home Style 5</option>
							<option value="home_small_slider.html">- Home Small Slider</option>
							<option value="blog.html">BLOG</option>
							<option value="blog.html">- Blog with sidebar</option>
							<option value="blog_2_columns.html">- Blog 2 columns</option>
							<option value="blog_2_columns.html" selected="selected">-- Right sidebar</option>
							<option value="blog_2_columns_left_sidebar.html">-- Left sidebar</option>
							<option value="post.html">- Single post</option>
							<option value="about.html">PAGES</option>
							<option value="about.html">- About</option>
							<option value="doctors.html">- Our Doctors</option>
							<option value="medical_care.html">- Medical Care</option>
							<option value="shortcodes.html">- Shortcodes</option>
							<option value="shortcodes.html#features-style">-- Features Style</option>
							<option value="shortcodes.html#carousel">-- Carousel</option>
							<option value="shortcodes.html#testimonials-announcement">-- Testimonials &amp; Announcement</option>
							<option value="shortcodes.html#accordiontab-notifications">-- Accordion &amp; Notifications</option>
							<option value="shortcodes.html#tabs-quote">-- Tabs &amp; Quote</option>
							<option value="shortcodes.html#lists">-- Lists</option>
							<option value="shortcodes.html#icons">-- Icons</option>
							<option value="shortcodes.html#buttons-headings">-- Buttons &amp; Headings</option>
							<option value="shortcodes.html#columns">-- Columns &amp; Code</option>
							<option value="404.html">-- 404 Not Found</option>
							<option value="departments.html">DEPARTMENTS</option>
							<option value="departments.html#primary-health-care">- Primary Health Care</option>
							<option value="departments.html#pediatric-clinic">- Pediatric Clinic</option>
							<option value="departments.html#outpatient-surgery">- Outpatient Surgery</option>
							<option value="departments.html#gynaecological-clinic">- Gynaecological Clinic</option>
							<option value="departments.html#cardiac-clinic">- Cardiac Clinic</option>
							<option value="departments.html#laryngological-clinic">- Laryngological Clinic</option>
							<option value="departments.html#ophthalmology-clinic">- Ophthalmology Clinic</option>
							<option value="departments.html#dental-clinic">- Dental Clinic</option>
							<option value="departments.html#outpatient-rehabilitation">- Outpatient Rehabilitation</option>
							<option value="timetable.html">TIMETABLE</option>
							<option value="timetable.html#all-departments">- All Departments</option>
							<option value="timetable.html#primary-health-care">- Primary Health Care</option>
							<option value="timetable.html#pediatric-clinic">- Pediatric Clinic</option>
							<option value="timetable.html#outpatient-surgery">- Outpatient Surgery</option>
							<option value="timetable.html#gynaecological-clinic">- Gynaecological Clinic</option>
							<option value="timetable.html#cardiac-clinic">- Cardiac Clinic</option>
							<option value="timetable.html#laryngological-clinic">- Laryngological Clinic</option>
							<option value="timetable.html#ophthalmology-clinic">- Ophthalmology Clinic</option>
							<option value="timetable.html#dental-clinic">- Dental Clinic</option>
							<option value="timetable.html#outpatient-rehabilitation">- Outpatient Rehabilitation</option>
							<option value="gallery_2_columns.html">GALLERY</option>
							<option value="gallery_2_columns.html">- 2 Columns</option>
							<option value="gallery_3_columns.html">- 3 Columns</option>
							<option value="gallery_4_columns.html">- 4 Columns</option>
							<option value="gallery_with_sidebar.html">- With Sidebar</option>
							<option value="contact.html">CONTACT</option>
						</select>
					</div>
				</div>
			</div>
			<div class="page relative">
				<div class="page_layout page_margin_top clearfix">
					<div class="page_header clearfix">
						<div class="page_header_left">
							<h1 class="page_title">Blog</h1>
							<ul class="bread_crumb">
								<li>
									<a href="home.html" title="Home">
										Home
									</a>
								</li>
								<li class="separator icon_small_arrow right_gray">
									&nbsp;
								</li>
								<li>
									Blog
								</li>
							</ul>
						</div>
						<div class="page_header_right">
							<form class="search">
								<input class="search_input" type="text" value="To search type and hit enter..." placeholder="To search type and hit enter..." />
							</form>
						</div>
					</div>
					<div class="page_left">
						<div class="columns clearfix">
							<ul class="blog column_left">
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date">
											<div class="value">12 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="2 comments">
												2
											</a>
										</li>
									</ul>
									<div class="post_content">
										<a class="post_image" href="post.html" title="Lorem ipsum dolor sit amat velum">
											<img src="images/samples/480x300/image_03.jpg" alt="" />
										</a>
										<h2>
											<a href="post.html" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris.
										</p>
										<div class="post_footer">
											<ul class="post_footer_details">
												<li>Posted in </li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Dental clinic">
														Dental clinic
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date">
											<div class="value">11 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="8 comments">
												8
											</a>
										</li>
									</ul>
									<div class="post_content">
										<h2>
											<a href="post.html" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris.
										</p>
										<div class="post_footer">
											<ul class="post_footer_details">
												<li>Posted in</li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Outpatient surgery">
														Outpatient surgery
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date clearfix">
											<div class="value">10 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="5 comments">
												5
											</a>
										</li>
									</ul>
									<div class="post_content">
										<h2>
											<a target="_blank" href="http://themeforest.net/item/medicenter-responsive-medical-health-template/4000598?ref=QuanticaLabs" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros amet sollicitudin interdum. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
										</p>
										<a title="Visit link" target="_blank" href="http://themeforest.net/item/medicenter-responsive-medical-health-template/4000598?ref=QuanticaLabs" class="more" target="_blank">
											Visit link &rarr;
										</a>
										<div class="post_footer clearfix">
											<ul class="post_footer_details">
												<li>Posted in</li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Outpatient surgery">
														Outpatient surgery
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
							<ul class="blog column_right">
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date">
											<div class="value">12 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="3 comments">
												3
											</a>
										</li>
									</ul>
									<div class="post_content">
										<h2>
											<a href="post.html" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris.
										</p>
										<div class="post_footer">
											<ul class="post_footer_details">
												<li>Posted in </li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Dental clinic">
														Dental clinic
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date">
											<div class="value">11 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="5 comments">
												5
											</a>
										</li>
									</ul>
									<div class="post_content">
										<a class="post_image" href="post.html" title="Lorem ipsum dolor sit amat velum">
											<img src="images/samples/480x300/image_02.jpg" alt="" />
										</a>
										<h2>
											<a href="post.html" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris.
										</p>
										<div class="post_footer">
											<ul class="post_footer_details">
												<li>Posted in</li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Outpatient surgery">
														Outpatient surgery
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
								<li class="post">
									<ul class="comment_box clearfix">
										<li class="date">
											<div class="value">10 DEC 12</div>
											<div class="arrow_date"></div>
										</li>
										<li class="comments_number">
											<a href="post.html#comments_list" title="2 comments">
												2
											</a>
										</li>
									</ul>
									<div class="post_content">
										<a class="post_image" href="post.html" title="Lorem ipsum dolor sit amat velum">
											<img src="images/samples/480x300/image_04.jpg" alt="" />
										</a>
										<h2>
											<a href="post.html" title="Lorem ipsum dolor sit amat velum">
												Lorem ipsum dolor sit amat velum
											</a>
										</h2>
										<p>
											Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin. 
											Suspendisse pulvinar, velit nec pharetra interdum, ante tellus ornare mi, et mollis tellus neque vitae elit. 
											Mauris adipiscing mauris.
										</p>
										<div class="post_footer">
											<ul class="post_footer_details">
												<li>Posted in </li>
												<li>
													<a href="#" title="General">
														General,
													</a>
												</li>
												<li>
													<a href="#" title="Dental clinic">
														Dental clinic
													</a>
												</li>
											</ul>
										</div>
									</div>
								</li>
							</ul>
						</div>
						<ul class="pagination page_margin_top">
							<li class="selected">
								<a href="#" title="">
									1
								</a>
							</li>
							<li>
								<a href="#" title="">
									2
								</a>
							</li>
							<li>
								<a href="#" title="">
									3
								</a>
							</li>
						</ul>
					</div>
					<div class="page_right">
						<h3 class="box_header margin">
							Categories
						</h3>
						<div class="sidebar_box first">
							<ul class="categories clearfix page_margin_top">
								<li>
									<a href="#" title="General">
										General
									</a>
								</li>
								<li>
									<a href="#" title="News">
										News
									</a>
								</li>
								<li>
									<a href="#" title="Primary health">
										Primary health
									</a>
								</li>
								<li>
									<a href="#" title="Pediatric clinic">
										Pediatric clinic
									</a>
								</li>
								<li>
									<a href="#" title="Outpatient surgery">
										Outpatient surgery
									</a>
								</li>
								<li>
									<a href="#" title="Cardiac clinic">
										Cardiac clinic
									</a>
								</li>
								<li>
									<a href="#" title="Laryngological clinic">
										Laryngological clinic
									</a>
								</li>
								<li>
									<a href="#" title="Health">
										Health
									</a>
								</li>
								<li>
									<a href="#" title="Dental clinic">
										Dental clinic
									</a>
								</li>
								<li>
									<a href="#" title="Ophthalmology clinic">
										Ophthalmology clinic
									</a>
								</li>
							</ul>
						</div>
						<div class="sidebar_box">
							<div class="clearfix">
								<div class="header_left">
									<h3 class="box_header">
										Most Commented
									</h3>
								</div>
								<div class="header_right">
									<a href="#" id="most_commented_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
									<a href="#" id="most_commented_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
								</div>
							</div>
							<div class="scrolling_list_wrapper">
								<ul class="scrolling_list most_commented">
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
											</span>
											<span class="number">
												18
											</span>
										</a>
										<abbr title="29 May 2012" class="timeago">29 May 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Lorem ipsum dolor sit amat velum.
											</span>
											<span class="number">
												16
											</span>
										</a>
										<abbr title="04 Apr 2012" class="timeago">04 Apr 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
											</span>
											<span class="number">
												9
											</span>
										</a>
										<abbr title="02 Feb 2012" class="timeago">02 Feb 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
											</span>
											<span class="number">
												7
											</span>
										</a>
										<abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
									</li>
								</ul>
							</div>
						</div>
						<div class="sidebar_box">
							<div class="clearfix">
								<div class="header_left">
									<h3 class="box_header">
										Most Viewed
									</h3>
								</div>
								<div class="header_right">
									<a href="#" id="most_viewed_prev" class="scrolling_list_control_left icon_small_arrow left_black"></a>
									<a href="#" id="most_viewed_next" class="scrolling_list_control_right icon_small_arrow right_black"></a>
								</div>
							</div>
							<div class="scrolling_list_wrapper">
								<ul class="scrolling_list most_viewed">
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
											</span>
											<span class="number">
												423
											</span>
										</a>
										<abbr title="29 May 2012" class="timeago">29 May 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Lorem ipsum dolor sit amat velum.
											</span>
											<span class="number">
												231
											</span>
										</a>
										<abbr title="04 Apr 2012" class="timeago">04 Apr 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
											</span>
											<span class="number">
												184
											</span>
										</a>
										<abbr title="02 Feb 2012" class="timeago">02 Feb 2012</abbr>
									</li>
									<li class="icon_small_arrow right_black">
										<a href="post.html" class="clearfix">
											<span class="left">
												Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
											</span>
											<span class="number">
												97
											</span>
										</a>
										<abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
									</li>
								</ul>
							</div>
						</div>
						<div class="sidebar_box">
							<h3 class="box_header">
								Photostream
							</h3>
							<ul class="photostream clearfix">
								<li class="gallery_box">
									<img src="images/samples/75x75/image_01.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_01.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_02.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_02.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_03.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_03.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_04.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_04.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_05.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_05.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_06.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_06.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_07.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_07.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
								<li class="gallery_box">
									<img src="images/samples/75x75/image_08.jpg" alt=""/>
									<ul class="controls">
										<li>
											<a href="images/samples/image_08.jpg" rel="photostream" class="fancybox open_lightbox"></a>
										</li>
									</ul>
								</li>
							</ul>
						</div>
						<div class="sidebar_box">
							<h3 class="box_header">
								Archives
							</h3>
							<ul class="columns list clearfix">
								<li class="column_left icon_small_arrow right_black">
									<a href="#" title="April 2012">
										April 2012
									</a>
								</li>
								<li class="column_right icon_small_arrow right_black">
									<a href="#" title="May 2012">
										May 2012
									</a>
								</li>
								<li class="column_left icon_small_arrow right_black">
									<a href="#" title="June 2012">
										June 2012
									</a>
								</li>
								<li class="column_right icon_small_arrow right_black">
									<a href="#" title="July 2012">
										July 2012
									</a>
								</li>
								<li class="column_left icon_small_arrow right_black">
									<a href="#" title="August 2012">
										August 2012
									</a>
								</li>
								<li class="column_right icon_small_arrow right_black">
									<a href="#" title="November 2012">
										November 2012
									</a>
								</li>
							</ul>
						</div>
						<div class="sidebar_box">
							<h3 class="box_header">
								Make An Appointment
							</h3>
							<p class="info">
								Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat rutrum eros sit amet sollicitudin.
							</p>
							<ul class="contact_data">
								<li class="clearfix">
									<span class="social_icon phone"></span>
									<p class="value">
										by phone: <strong>1-800-643-4300</strong>
									</p>
								</li>
								<li class="clearfix">
									<span class="social_icon mail"></span>
									<p class="value">
										by e-mail: <a href="mailto:medicenter@mail.com">medicenter@mail.com</a>
									</p>
								</li>
								<li class="clearfix">
									<span class="social_icon form"></span>
									<p class="value">
										or <a href="contact.html" title="Contact form">fill in the form</a> on our contact page
									</p>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="footer_container">
				<div class="footer">
					<ul class="footer_banner_box_container clearfix">
						<li class="footer_banner_box super_light_blue">
							<h2>
								Health Insurance
							</h2>
							<p>
								<a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
							</p>
						</li>
						<li class="footer_banner_box light_blue">
							<h2>
								Medical Records
							</h2>
							<p>
								<a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
							</p>
						</li>
						<li class="footer_banner_box blue">
							<h2>
								Online Bill Pay
							</h2>
							<p>
								<a class="icon_small_arrow right_white" href="#">Here in medicenter we have individual</a>
							</p>
						</li>
					</ul>
					<div class="footer_box_container clearfix">
						<div class="footer_box">
							<h3 class="box_header">
								Medicenter Clinic
							</h3>
							<p class="info">
								Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada individual.
							</p>
							<ul class="footer_contact_info_container clearfix">
								<li class="footer_contact_info_row">
									<div class="footer_contact_info_left">
										Medicenter Clinic
									</div>
								</li>
								<li class="footer_contact_info_row">
									<div class="footer_contact_info_left">
										33 Farlane Street
									</div>
									<div class="footer_contact_info_right">
										+123 655 655
									</div>
								</li>
								<li class="footer_contact_info_row">
									<div class="footer_contact_info_left">
										Keilor East
									</div>
									<div class="footer_contact_info_right">
										+123 755 755
									</div>
								</li>
								<li class="footer_contact_info_row">
									<div class="footer_contact_info_left">
										VIC 3033, Australia
									</div>
									<div class="footer_contact_info_right">
										<a href="mailto:medicenter@mail.com" title="Send Email">
											medicenter@mail.com
										</a>
									</div>
								</li>
							</ul>
							<ul class="social_icons clearfix">
								<li>
									<a class="social_icon facebook" href="http://facebook.com/QuanticaLabs" title="" target="_blank">
										&nbsp;
									</a>
								</li>
								<li>
									<a class="social_icon twitter" href="https://twitter.com/QuanticaLabs" title="" target="_blank">
										&nbsp;
									</a>
								</li>
								<li>
									<a class="social_icon googleplus" href="#" title="">
										&nbsp;
									</a>
								</li>
								<li>
									<a class="social_icon mail" href="mailto:medicenter@mail.com" title="">
										&nbsp;
									</a>
								</li>
							</ul>
						</div>
						<div class="footer_box">
							<div class="clearfix">
								<div class="header_left">
									<h3 class="box_header">
										Latest Posts
									</h3>
								</div>
								<div class="header_right">
									<a href="#" id="footer_recent_posts_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
									<a href="#" id="footer_recent_posts_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
								</div>
							</div>
							<div class="scrolling_list_wrapper">
								<ul class="scrolling_list footer_recent_posts">
									<li class="icon_small_arrow right_white">
										<a href="post.html">
											Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
										</a>
										<abbr title="29 May 2012" class="timeago">29 May 2012</abbr>
									</li>
									<li class="icon_small_arrow right_white">
										<a href="post.html">
											Lorem ipsum dolor sit amat velum.
										</a>
										<abbr title="04 Apr 2012" class="timeago">04 Apr 2012</abbr>
									</li>
									<li class="icon_small_arrow right_white">
										<a href="post.html">
											Mauris adipiscing mauris fringilla turpis interdum sed pulvinar nisi malesuada.
										</a>
										<abbr title="02 Feb 2012" class="timeago">02 Feb 2012</abbr>
									</li>
									<li class="icon_small_arrow right_white">
										<a href="post.html">
											Lorem ipsum dolor sit amat velum, consectetur adipiscing elit.
										</a>
										<abbr title="24 Jan 2011" class="timeago">24 Jan 2011</abbr>
									</li>
								</ul>
							</div>
						</div>
						<div class="footer_box last">
							<div class="clearfix">
								<div class="header_left">
									<h3 class="box_header">
										Latest Tweets
									</h3>
								</div>
								<div class="header_right">
									<a href="#" id="latest_tweets_prev" class="scrolling_list_control_left icon_small_arrow left_white"></a>
									<a href="#" id="latest_tweets_next" class="scrolling_list_control_right icon_small_arrow right_white"></a>
								</div>
							</div>
							<div class="scrolling_list_wrapper">
								<ul class="scrolling_list latest_tweets">
								</ul>
							</div>
						</div>
					</div>
					<div class="copyright_area clearfix">
						<div class="copyright_left">
							© Copyright - <a href="http://themeforest.net/item/medicenter-responsive-medical-health-template/4000598?ref=QuanticaLabs" title="MediCenter Template" target="_blank">MediCenter Template</a> by <a href="http://quanticalabs.com" title="QuanticaLabs" target="_blank">QuanticaLabs</a>
						</div>
						<div class="copyright_right">
							<a class="scroll_top icon_small_arrow top_white" href="#top" title="Scroll to top">Top</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</body>
</html>