html,body{
	height: 100%;
  color: #727f88;
}
.app-footer{
	background-color: #FBFBFB;
	display: block;
	padding: 10px;
	margin-top: 40px;
	border-top: 1px solid #dfdfdf;
	position: absolute;
	width: 100%;
	bottom: 0;
	padding-top: 30px !important;
	padding-bottom: 8px !important;
	font-size: 12px;
}
.wrapper{
	position: relative;
	padding-bottom: 100px;
	min-height: 100%;
}
.app-terms, .app-policy{
	padding-left: 14px !important;

}
.section-title{
	border-bottom: 1px solid #4E5D6C;
	text-align: center;
}
.app-text-danger{
	color: #ff4d49 !important;
}
.login-section{
	border: 1px solid #B3D6EA;
	padding-top: 40px;
	padding-bottom: 40px;
	background: #EFF5FF;
}
.legend-title{
	background: #40ABE9;
	color: #fff;
	margin-bottom: 0px;
	border-radius: 4px 4px 0px 0px;
	border-color: #2fa4e7;
	padding: 10px;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: bold;
}
.app-form-horizontal{
	border: 1px solid #42ACE9;  
	/*border-radius: 5px;*/
}
.form-horizontal-inner{
	padding: 10px;
}
.app-alert-danger{
  background-color: #fff2f1 !important;
  border-color: #ffd8dd !important;
  color: #ff4d49 !important;
}
.app-alert{
	margin-bottom: 0px !important;
}
.danger-close, .danger-close span:hover{
	color: #FF4D49 !important;
	text-decoration: none !important;
}
.running-state{
	position: absolute;
	top: 5px;
	padding-left: 17px;
	min-width: 20px !important;
}
input.ng-invalid, 
textarea.ng-invalid, 
select.ng-invalid, 
input.ng-dirty, 
textarea.ng-dirty, 
select.ng-dirty{
	border: 1px solid #ff4d49;
}
input.ng-valid, 
textarea.ng-valid, 
select.ng-valid {
  border: 1px solid rgb(195, 201, 202) !important;
}
input.ng-pristine, 
textarea.ng-pristine, 
select.ng-pristine{
  border: 1px solid rgb(195, 201, 202) !important;
}
.login-header{
	border: 1px solid #34A6E8;
	padding-top: 30px;
	background: rgb(51, 166, 231);
	padding-bottom: 30px;
	color: #fff;
	text-align: center;
	font-size: 20px;
}
.login-content a{
font-weight: bold;
  font-size: 13px;
  color: #8a8a8a;
  line-height: 19px;
}
@media (min-width: 768px){
	.navbar {
	   border-radius: 0px !important;
	}	
}
.list-group-item:first-child {
   border-top-right-radius: 0px !important; 
   border-top-left-radius: 0px !important; 
}
.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 0px !important;
  border-bottom-left-radius: 0px !important;
}
.breadcrumb>li+li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #FFFFFF !important;
}
.breadcrumb{
	background-color: #3CAAE9 !important;
   border-radius: 0px !important; 
  color: #fff !important;
}
.login-divider{
	margin-top: 0px !important; 
	margin-bottom: 0px !important; 
	border: 0 !important; 
	border-top: 1px solid #FFD8DD !important;
}	